# Ignore the .vscode folder
.vscode

# Ignore the datasets folder, for the moment
Datasets

# Ignore the results folder
Results

# Ignore the shape predictor file
Utils/shape_predictor_68_face_landmarks.dat